<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>24193499838-pofbebv6p7b8lqbq2pviqbp0td900ccv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.24193499838-pofbebv6p7b8lqbq2pviqbp0td900ccv</string>
	<key>API_KEY</key>
	<string>AIzaSyDmI9rXlmPoE2CkmXu6hr8nVtNWg1ZMyuc</string>
	<key>GCM_SENDER_ID</key>
	<string>24193499838</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nihilent.LoginRXDemo</string>
	<key>PROJECT_ID</key>
	<string>rxdemo-e7957</string>
	<key>STORAGE_BUCKET</key>
	<string>rxdemo-e7957.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24193499838:ios:72a36cf78db3f5ee</string>
	<key>DATABASE_URL</key>
	<string>https://rxdemo-e7957.firebaseio.com</string>
</dict>
</plist>